<?xml version="1.0" ?>
<configuration name="Miracle" dateCreated="1360024572297">
<experimentView panelNo="0" panelType="0" correctAnswer="true">
<Stimulus stimulusIndex="0" isText="true">Mirrors</Stimulus>
<Stimulus stimulusIndex="1" isText="true">Messages</Stimulus>
<Stimulus stimulusIndex="4" isText="true">Heathcliff</Stimulus>
</experimentView>
<experimentView panelNo="1" panelType="0" correctAnswer="true">
<Stimulus stimulusIndex="0" isText="false">C:\Users\Robert Walker\Dropbox\devProj\ImplicitAssociation\Images for IAT\boydk1.jpg</Stimulus>
<Stimulus stimulusIndex="1" isText="false">C:\Users\Robert Walker\Dropbox\devProj\ImplicitAssociation\Images for IAT\boydk2.jpg</Stimulus>
<Stimulus stimulusIndex="4" isText="false">C:\Users\Robert Walker\Dropbox\devProj\ImplicitAssociation\Images for IAT\girllt5.jpg</Stimulus>
</experimentView>
</configuration>